:root {
  --bg-col: #0f0f0f;
  --cnvs-lt: 50%;
  --cnvs-trnslt-lt: calc(0 - var(--cnvs-lt));
  --cnvs-brdr-col: #1f1f1f;
  --cnvs-bg-col: #000000;
}

*, body {
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--bg-col);
}

#canvas {
  position: absolute;
  left: var(--cnvs-lt);
  top: var(--cnvs-lt);
  transform: translate(var(--cnvs-trnslt-lt), var(--cnvs-trnslt-lt));
  border: 2px solid var(--cnvs-brdr-col);
  background-color: var(--cnvs-bg-col);
}
